.paper-plane { width: 45px; }

.text-done {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 50px;
	font-size: 1.3em;
}

.items-done {
	display: flex;
	font-size: .9em;
}

.container-plane {
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
}

.container-basic-ad {
	margin-top: 100px;
	margin-bottom: 100px;
}

.footer-background {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
}

.warn { text-align: justify; }