<!DOCTYPE html>
  <head>
  	<title>Kit Digital</title>
  	<meta charset="utf-8">
  	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="../../../styles/styles.css">
  </head>
  <body>
  	<div class="main-container">
  		<div class="modal">
  			<div class="header">
  				<img src="../../../images/logo-yachay.png" class="logo-modal">
  				<p class="headline">Hosti 100 + Dominio .pe</p>
  			</div>
  			<div class="modal-body">
  				<section>
  					<span class="label done mt-0">añadido</span>
  					<div class="mb-20">
  						<div class="feature mb-10">
  							<i class="fa fa-check-circle bullet done check-icon"></i>
  							<span class="subtitle uppercase">Hosti 100</span>
  							<span class="period">(1 año)</span>
  						</div>
  						<p>Con tu hosting podrás administrar hasta 50 cuentas de correo.</p>
  					</div>
  				</section>
  				<section class="mb-20">
  					<span class="label pending">pendiente</span>
  					<div>
  						<div class="feature">
  							<i class="fa fa-minus-circle bullet pending"></i>
  							<span class="subtitle" id="domain-choose">Escoge tu dominio</span>
  							<span class="period">(1 año)</span>
  						</div>
  						<div class="seeker">
  							<input type="text" name="" id="input-domain" placeholder="Buscar...">
  							<select id="select-js" class="select-modal">
  								<option value="pe" class="select-option-modal">.pe</option>
  								<option value="org" class="select-option-modal">.org</option>
  								<option value="com" class="select-option-modal">.com</option>
  								<option value="com.pe" class="select-option-modal">.com.pe</option>
  							</select>
  							<button class="seeker-button">
  								<i class="fa fa-search icon"></i>
  							</button>
  						</div>
  						<div class="feedback">
  							<p id="feedback-js"></p>
  							<p id="available">
  								<i class="fa fa-check-circle bullet done"></i>
  								<span class="domain-available bold" id="domain-available-js"></span>
  								<span></span>
  								<span id="domain-js"></span>
  								<a class="add bold" id='accept-domain'>agregar</a>
  							</p>
  						</div>
  					</div>
  				</section>
  				<p>* Esta es una promoción gratuita del primer año para los usuarios de Kit Digital.</p>
  			</div>
  			<!--div class="container-footer" style="height: 100px; background-color: white; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;"-->
  				<footer class="footer-background">
  					<a href="../user_form/user-form.html"><button id="send" class="main-button-modal">Continuar »</button></a>
  				</footer>
  			<!--/div-->
  		</div>
  	</div>
  	<script type="text/javascript">
  		console.log("hola");
  		var ad = document.getElementById('accept-domain');
  		var dom = document.getElementById('select-js').value;
  		document.getElementById('domain-js').textContent = dom;
  		var domains = [
  			{
  				id: 001,
  				name: 'vivelavida'
  			},
  			{
  				id: 002,
  				name: 'yachay'
  			},
  			{
  				id: 003,
  				name: 'rcp'
  			}
  		];
  		function checkDomain(){
  			for (var i = 0; i < domains.length; i++) {
  				if (this.value == domains[i].name){
  					fb.textContent = 'El dominio ' + this.value + ' no está disponible';
  					console.log(domains.length);
  					document.getElementById('available').className = '';
  				} else{
              if ( this.value !== null){
                document.getElementById('available').className = 'show';
                fb.textContent = '';
                document.getElementById('domain-available-js').textContent = this.value+'.';
              }
  				}
  			}
  		}
  		function acceptDomain(){
  			document.getElementsByClassName('seeker')[0].className += ' hide';
  			document.getElementById('available').className = 'hide';
  			var x = document.getElementsByClassName('pending')[0];
  			x.className = 'label done';
  			x.textContent = 'añadido';
  			document.getElementById('domain-choose').textContent = 'DOMINIO .pe';
  			//document.getElementsByClassName('pending')[0].value = 'añadido';
  			document.getElementsByClassName('fa-minus-circle')[0].className = 'fa fa-check-circle bullet done';
  			document.getElementsByClassName('label done')[0].text.value = 'añadido';
  		}
  		console.log(domains[1].name);
  		var el = document.getElementById('input-domain');
  		var fb = document.getElementById('feedback-js');
  		el.addEventListener('blur', checkDomain, false);
  		ad.addEventListener('click', acceptDomain, false);
  	</script>
  </body>
</html>