<!DOCTYPE html>
  <head>
  	<title>Kit Digital</title>
  	<meta charset="utf-8">
  	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="../../..//styles/styles.css">
  </head>
  <body>
  	<div class="main-container">
  		<div class="modal">
  			<div class="header">
  				<img src="../../../images/logo-yachay.png" class="logo-modal">
  				<p class="headline">Hosti 100 + Dominio .pe</p>
  			</div>
  			<div class="modal-body">
  				<div class="head-form">
            <i class="fa fa-check-circle bullet done"></i>
            <div class="notice">Estás a un paso de terminar el registro de tu promoción de hosting <span class="important-text">Hosti 100</span> y el dominio <span class="important-text straight-line">yachay.pe</span></div>
          </div>
          <form class="customer-register">
            <p class="subtitle uppercase mb-20">completa tus datos</p>
            <div class="input-form">
              <input type="" name="" placeholder="Nombre o Razón Social" class="input-full">
            </div>
            <div class="input-form">
              <select class="">
                <option value="">DNI</option>
                <option>RUC</option>
              </select>
              <input type="" name="" placeholder="# de documento" class="">
              <input type="" name="" placeholder="Teléfono">
            </div>
            <div class="input-form">
              <input type="" name="" placeholder="Dirección" class="address">
              <input type="" name="" placeholder="Código Postal">
            </div>
            <div class="input-form">
              <input type="" name="" placeholder="Distrito" class="input-full">
            </div>
            <div>
            <span class="subtitle">Contrato</span>
            <div class="terms">
              <input type="checkbox" name="">
              He leido y acepto el <span class="important-link">Contrato de prestación de servicios<span>
            </div>
          </form>
  			</div>
  		</div>
      <footer class="footer-background">
          <a href="../summary-order/summary-order.html"><button id="send" class="main-button-modal">Continuar »</button></a>
        </footer>
  	</div>
  	<script type="text/javascript">
  	</script>
  </body>
</html>