<!DOCTYPE html>
  <head>
  	<title>Kit Digital</title>
  	<meta charset="utf-8">
  	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="../../../styles/styles.css">
  </head>
  <body>
  	<div class="main-container">
  		<div class="modal">
  			<div class="header">
  				<img src="../../../images/logo-yachay.png" class="logo-modal">
  				<p class="headline">hosti 100 + dominio .pe</p>
  			</div>
  			<div class="modal-body">
  				<div class="container-basic-ad">
  					<div class="text-done">Felicitaciones</div>
  					<div class="items-done">
  						<div class="container-plane">
  							<img src="../../../images/paper-plane.png" class="paper-plane">
  						</div>
  						<div class="warn">Tu promoción de Kit Digital ha sido registrada. Te hemos enviado un correo electrónico con los detalles del registro y los pasos para que puedas activar tu hosting y dominio.</div>
  					</div>
  				</div>
  			</div>
  			<footer class="footer-background">
  				<a href="../service-choise/service-choise.html"><button class="main-button-modal secundary">Ir a ingreso »</button></a>
  			</footer>
        <div id="elements">
          
        </div>
  	</div>
  	<script type="text/javascript">
  	</script>
  </body>
</html>