$gray-light: #fafafa;
$gray-normal: #eeeeee;
$green: #34B520;
$yellow: #FFDB2F;
$gray-input: #F7F7F7;
$green-alive: #0FBD5A;
$main-gray: #999999;
$almost-black: #353535;
$deep-black: #293846;
$green-button: #27AE60;
$main-orange: #e85b21;
$gray-dark: #525252;
$headline-black: #333333;
$deep-blue: #293846;
$input-form: #cdcdcd;
$gray-table: #b4b4b4;
$secundary-button: #b3b3b3;