body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.modal {
	border-radius: 15px;
	box-shadow: 12px 15px 40px #bbbbbb;
	width: 500px;
	height: 688px;
	background-color: $gray-normal;
	.header {
		text-align: center;
		padding: 20px;
	}
	footer {
		text-align: center;
		background-color: white;
		button {
			color: white;
			background-color: $green-button;
			text-align: center;
			border: none;
			border-radius: 8px;
			font-size: 1em;
			outline: none;
			height: 50px;
			width: 200px;
		}
	}
}
.logo {
	width: 120px;
}
.headline {
	text-transform: uppercase;
	color: $headline-black;
	font-weight: bold;
}
.label {
	text-transform: uppercase;
	color: white;
	width: 50px;
	font-size: 9px;
	padding: 3px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	text-align: center;
	&.done {
		background-color: $green;
	}
	&.pending {
		background-color: $yellow;
	}
}
i.bullet {
	margin-right: 10px;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
	font-size: 1.5em;
	&.done {
		color: $green;
	}
	&.pending {
		color: $yellow;
	}
}
.modal-body {
	background-color: white;
	padding: 30px;
	section {
		border-bottom: 1px solid $gray-normal;
	}
}
.subtitle {
	margin-right: 10px;
	color: $main-gray;
	font-size: 1.3em;
}
.uppercase {
	text-transform: uppercase;
}
.period {
	color: $main-gray;
	font-weight: 100;
	font-style: italic;
}
.text {
	color: $main-gray;
	font-weight: 100;
}
.feature {
	display: flex;
}
.seeker {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	input {
		border: none;
		background-color: $gray-input;
		padding: 15px;
		font-size: 1.1em;
		color: $main-gray;
		width: 100%;
	}
	select {
	outline: none;
	color: $main-gray;
	border: none;
	width: 100px;
	background-color: white;
	font-size: 1.2em;
	}
	button {
		background-color: $deep-blue;
		border: none;
		outline: none;
		width: 100px;
		i.icon {
			color: white;
			font-size: 1.8em;
		}
	}
}
.feedback{
	min-height: 30px;
	max-height: 30px;
	color: $main-gray;
	p.show {
		display: block !important;
	}
}

#feedback-js {
	height: auto;
	margin: 0;
	padding: 0;
}
.bold {
	font-weight: bold;
}
.add {
	color: $green-alive;
}
#available {
	display: none;
	margin: 0;
	padding: 0;
	i.bullet {
		font-size: 1em;
	}
}
#domain-available-js {
	margin-right: 0;
}
.hide {
	display: none;
}
#send a {
	text-decoration: none;
	color: white;
}