<!DOCTYPE html>
  <head>
  	<title>Kit Digital</title>
  	<meta charset="utf-8">
  	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="../../../styles/styles.css">
  </head>
  <body>
  	<div class="main-container">
  		<div class="modal">
  			<div class="header">
  				<img src="../../../images/logo-yachay.png" class="logo-modal">
  				<p class="headline">hosti 100 + dominio .pe</p>
  			</div>
  			<div class="modal-body">
          <div class="basic-header">
            <div class="title-basic-header">confirma tu promoción</div>
            <div class="body-basic-header">
              Este es el paso final. Recuerda que esta es una promoción gratuita por un año y que, cumplido este tiempo, deberás renovar los servicios. Tu primer año culmina el 09/Septiembre/2018
            </div>
          </div>
          <div class="basic-body">
            <table>
              <tr>
                <td class="product bold"><i class="fa fa-check-circle bullet done"></i>Hosti 100</td>
                <td class="center">S/. 178.00</td>
              </tr>
              <tr>
                <td class="product bold"><i class="fa fa-check-circle bullet done"></i>yachay.pe</td>
                <td class="border-bottom center">S/. 103.00</td>
              </tr>
              <tr>
                <td class="bold">Sub - Total</td>
                <td class="center">S/. 281.00</td>
              </tr>
              <tr>
                <td class="bold">Descuento Kit Digital</td>
                <td class="center">S/. -281.00</td>
              </tr>
              <tr>
                <td class="bold">TOTAL A PAGAR</td>
                <td class="border-top center">S/. 0.00</td>
              </tr>
            </table>
          </div>
          <div class="basic-footer">
            <p>* Una vez que des click en Registrar ya no podrás volver a cambiar tu dominio escogido.</p>
          </div>
  			</div>
  			<div style="height: 100px; background-color: white; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;">
  				<footer class="footer-background">
  					<a href="../done/done.html"><button class="main-button-modal">Registrar »</button></a>
  				</footer>
  			</div>
  		</div>
  	</div>
  	<script type="text/javascript">
  	</script>
  </body>
</html>